@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>SIRESEP</h1>
    <p class="lead">Bienvenido a la pagina, estos son los primeros mantenimientos</p>
    <br />
    @*<li>@Html.ActionLink("Carrera", "Index", "Carrera")</li>*@
    <li>@Html.ActionLink("Certificaciones", "Index", "Certificaciones")</li>
    <li>@Html.ActionLink("Informacion de Puestos", "Index", "InfoPuesto")</li>
    <li>@Html.ActionLink("Informacion de Generos", "Index", "InfoGenero")</li>
    <li>@Html.ActionLink("Informacion de Grados de Estudios", "Index", "InfoGradoEstudio")</li>


</div>

